<header>
    <app-header-strip></app-header-strip>
    <div class="user-header container">
        <mat-grid-list cols="12" rowHeight="135px">
            <mat-grid-tile colspan="1">
                <a href="/">
                    <img class="temp-aadf-logo" style="" src="assets/images/logo.svg" alt="">
                </a>
            </mat-grid-tile>
            <mat-grid-tile colspan="6">
                <div class="search">
                    <img src="assets/images/icons/search-icon@2x.png" alt="search-icon" class="search-icon-new">
                    <input id="inputId" type="text" placeholder="Search..." />
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="5">
                <ul class="inline-list user-settings">
                    <li>
                        <div  matBadgeColor="warn" class="track-order-button-wrapper">
                            Track your Order
                        </div>
                    </li>
                    <li>
                        <span matBadge="15" matBadgeColor="warn" >
                            <img  class="cart-icon" alt="cart-icon"
                            src="assets/images/icons/local_grocery_store_24px.svg">
                        </span>
                        <span class="cart-text">
                            Cart 
                        </span>
                    </li>
                    <li>
                        <span class="img-select">
                            <img alt="big-login-icon" class="big-login-icon" src="assets/images/person_24px-red.svg">
                            Login
                        </span>
                    </li>
                </ul>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <app-category-list></app-category-list>

</header>
