<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer #drawer mode="side" position="end">I'm a drawer</mat-drawer>
    <mat-drawer-content>
        <div class="main-wrapper">
            <app-header></app-header>

            <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
            <section class="main-content">
                <content>
                    <router-outlet></router-outlet>
                </content>
            </section>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
