@font-face {
    font-family: "Lato";
	font-display: optional;
    src: url('/assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: "Lato-Light";
	font-display: optional;
    src: url('/assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: "Montserrat";
	font-display: optional;
    src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Neuton";
	font-display: optional;
    src: url('/assets/fonts/Neuton/Neuton-Regular.ttf');
}

@font-face {
    font-family: "NotoSansSC";
	font-display: optional;
    src: url('/assets/fonts/NotoSansSC/NotoSansSCSliced-Regular.0.otf');
}
@font-face {
    font-family: "Avenir-Book";
	font-display: optional;
    src: url('/assets/fonts/Avenir/AvenirLTStd-Book.otf')
}

@font-face {
    font-family: "Avenir-Book-IE";
	font-display: optional;
    src: url('/assets/fonts/Avenir/Avenir-Book.ttf') format('embedded-opentype');
}

@font-face {
    font-family: "Avenir-Black";
	//font-display: optional;
    src: url('/assets/fonts/Avenir/AvenirLTStd-Black.otf');
}

@font-face {
    font-family: "Avenir-Next-LT-Pro-Demi";
	//font-display: optional;
    src: url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.otf');
}

@font-face {
    font-family: "Avenir-Next-LT-Pro-Regular";
	//font-display: optional;
    src: url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: "Avenir-Next-LT-Pro-Lt";
	//font-display: optional;
    src: url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-lt.otf');
}

@font-face {
    font-family: "DM-Sans-Regular";
	//font-display: optional;
    src: url('/assets/fonts/DMSansCustom/dmsans-regular-webfont.ttf');
}

@font-face {
    font-family: "DM-Sans-Bold";
	//font-display: optional;
    src: url('/assets/fonts/DMSansCustom/dmsans-bold-webfont.ttf');
}

@font-face {
    font-family: "DM-Sans-Medium";
	//font-display: optional;
    src: url('/assets/fonts/DMSansCustom/dmsans-medium-webfont.ttf');
}

@font-face {
    font-family: "DM-Sans-Italic";
	//font-display: optional;
    src: url('/assets/fonts/DMSansCustom/dmsans-italic-webfont.ttf');
}

@font-face {
    font-family: "DM-Sans-Bold-Italic";
	font-display: optional;
    src: url('/assets/fonts/DMSansCustom/dmsans-bolditalic-webfont.ttf');
}

@font-face {
    font-family: "DM-Sans-Medium-Italic";
	font-display: optional;
    src: url('/assets/fonts/DMSansCustom/dmsans-mediumitalic-webfont.ttf');
}